<!--<beans:beans xmlns="http://www.springframework.org/schema/security"-->
	<!--xmlns:beans="http://www.springframework.org/schema/beans" -->
	<!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
	<!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
	<!--http://www.springframework.org/schema/beans/spring-beans-4.0.xsd-->
	<!--http://www.springframework.org/schema/security-->
	<!--http://www.springframework.org/schema/security/spring-security-4.0.xsd">-->


            <!--<authentication-manager>-->
		<!--<authentication-provider>-->
			<!--<user-service>-->
				<!--<user name="uoO" password="1q2w3er" authorities="ROLE_ADMIN" />-->
				<!--<user name="123" password="123" authorities="ROLE_USER" />-->
			<!--</user-service>-->
		<!--</authentication-provider>-->
            <!--</authentication-manager>-->
                <!---->
<!--&lt;!&ndash;    <http use-expressions="false">&ndash;&gt;-->
    <!--&lt;!&ndash;<http >&ndash;&gt;-->
    <!--<http auto-config="true">-->
        <!--<access-denied-handler error-page="/403" />-->
        <!--<intercept-url pattern="/uoO_admin**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER2')" />-->
        <!--<form-login login-page="/uoO_admin_login"-->
                    <!--username-parameter="j_username" -->
                    <!--password-parameter="j_password" -->
                    <!--login-processing-url="/j_spring_security_check"-->
                    <!--authentication-failure-url="/login1?error=true"  />-->
        <!---->
        <!--<logout logout-url="/j_spring_security_logout" logout-success-url="/" />-->
        <!---->
        <!--<remember-me key="remMeKey"/>-->
        <!--<csrf disabled="true" />-->
    <!--</http>-->
    <!---->
     <!--&lt;!&ndash;4.2.4  In Spring Security I stoped. &ndash;&gt;       -->


<!--</beans:beans>-->